@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@tailwind base;

.title {
  font-family: Montserrat;
}

body {
  font-family: Nunito;
}

.muli {
  font-family: 'Muli', sans-serif;
}

@tailwind components;

@tailwind utilities;