@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Nunito&display=swap');

@tailwind base;

.title {
  font-family: Montserrat;
}

body {
  font-family: Nunito;
}

a {
  color: white
}

@tailwind components;

@tailwind utilities;